.siderMain{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    // position: fixed;
}
.iconWrapper{
    margin-bottom: 3rem;
    margin-top: 3rem;
    // cursor: pointer;
    color: #fff;
}
.icon{
    
}
.search{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: .5rem;
}
.button{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: .5rem;
    margin-top: .25rem;   
}
.authButton{
    //  justify-content-center position-fixed
    margin-top: 1rem;
    color:white;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    // position: absolute;
    cursor:pointer;
    line-height:3;
    // bottom:3rem;
}