/* html{
  font-size: 10px;
} */
/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
body{
  width:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hover-pointer:hover{
  cursor: pointer;
}
.side-collapse-style:hover{
  background-color: '#0066ff';
}

.icon-2-larger{
  font-size: 2rem;
}

.icon-half-larger{
  font-size:1.5rem;
}
.route-min-height{
  min-height: 100vh;
}

.ant-input-clear-icon{
  margin-right: 0.1rem;
}

@media screen and (min-width:721px ){
  .page-max-width{
      max-width: 80rem;
  }
}

.showEllipsis{
  /* 保证文本内容不会自动换行，如果多余的内容会在水平方向撑破单元格。 */
  white-space: nowrap;
  /* 隐藏超出单元格的部分。 */
  overflow: hidden; 
  /* 将被隐藏的那部分用省略号代替。 */
  text-overflow: ellipsis
}

.column-max-width{
  max-width: 12rem;
}

/* 调节表格默认排序的样式 */
.ant-table-thead > tr > th.ant-table-column-sort{
  background-color:#fafafa;
}
.ant-table-tbody > tr > td.ant-table-column-sort{
  /* background-color:rgb(230, 247, 255); */
  /* background-color: grey; */
  background-color: rgba(0, 0, 0, 0);
}
